body {
    padding-top: 70px;
    margin-bottom: 70px;
    font-family: 'Raleway', sans-serif;
}

.header-image {
    margin: 0 auto;
    max-height: 300px;
}

.navbar-default {
    background-color: #fff;
    border-color: #eee;
}

.blog-box {
    margin-top: 15px;
    background-color: #fff;
    border: solid #eee 1px;
    padding: 10px;
}

.blog-title {
    color: #333;
}

.img-bordered {
    border-top: solid #eee 1px;
    border-bottom: solid #eee 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-body {
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 15px;
}

.post-info {
    padding-left: 0px;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 35px;
    width: 100%;
    background: #FFF;
    border-top: solid #eee 1px;
}